<div class="header headerSecure">

    <div class="headerContent">
        <a class="logo" href="{{ URLAddress }}"><img src="../../../assets/img/{{ BrandName }}/checkout.css" />  {{ SiteName }}</a>
        <ul class="hLinks" style="width:560px">
            <li class="atendimento">
                <a href="{{ URLAttendance }}"  title="Central de atendimento" class="lnk">Central de atendimento</a>
            </li>
            <li class="pedidos">
                 <a href="{{ URLCart }}/Site/MeusPedidos.aspx" title="Meus pedidos" class="lnk">Meus pedidos</a></li><li class="secure">Ambiente <em>100% Seguro</em>
            </li>
        </ul>
    </div>
</div>
